{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div>
  <h1>
    Hi 👋, I'm Vladislav
  </h1>
  <h3
  >I am a junior python developer👨‍💻 Started his way in development in 2022
    🚀
  </h3>
  <br>
  <p>
    - 🔭 I’m currently working on GitHub <a href="https://github.com/Konstantunovv" target="_blank"
               rel="noreferrer"> <img
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg"
                alt="bash" width="30" height="50"/> </a>

  </p>
  <p>
    - 🌱 Now I'm studying in Yandex practicum <a href="https://practicum.yandex.ru/" target="_blank"
               rel="noreferrer"> <img
                src="https://yastatic.net/q/logoaas/v2/Яндекс.svg?circle=black&color=000&first=white"
                alt="bash" width="30" height="50"/> </a>
  </p>
  <p>
    - 📝 I regularly write articles on habr <a href="https://habr.com/ru/users/Ikace/" target="_blank"
               rel="noreferrer"> <img
                src="https://assets.habr.com/habr-web/img/favicons/apple-touch-icon-180.png"
                alt="bash" width="30" height="30"/> </a>
  </p>
  <br>
  <div style="image-resolution: from-image">
    <h1>Texnology Stack🚀</h1>
    <table>
      <tr>
        <td height="33">

          <p>Backend</p>
          <div>
            <a href="https://www.djangoproject.com/" target="_blank"
               rel="noreferrer"> <img
                src="https://cdn.worldvectorlogo.com/logos/django.svg"
                alt="django" width="50" height="50"/> </a> <a
              href="https://www.python.org" target="_blank" rel="noreferrer">
            <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                alt="python" width="50" height="50"/> </a>
          </div>
        </td>
        <td height="33">

          <p>Frontend</p>
          <div>
            <a href="https://www.w3schools.com/css/" target="_blank"
               rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                alt="css3" width="50" height="50"/> </a> <a
              href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
            <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                alt="html5" width="50" height="50"/> </a>
          </div>
        </td>
        <td height="33">

          <p>DevOps</p>
          <div>
            <a href="https://www.gnu.org/software/bash/" target="_blank"
               rel="noreferrer"> <img
                src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg"
                alt="bash" width="50" height="50"/> </a> <a
              href="https://git-scm.com/" target="_blank" rel="noreferrer">
            <img
                src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
                alt="git" width="50" height="50"/> </a>
          </div>
        </td>
        <td height="33">

          <p>Software</p>
          <div>
            <a href="https://www.adobe.com/in/products/illustrator.html"
               target="_blank" rel="noreferrer"> <img
                src="https://www.vectorlogo.zone/logos/adobe_illustrator/adobe_illustrator-icon.svg"
                alt="illustrator" width="50" height="50"/> </a> <a
              href="https://www.photoshop.com/en" target="_blank"
              rel="noreferrer"> <img
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/photoshop/photoshop-line.svg"
              alt="photoshop" width="50" height="50"/> </a>
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <h1>Github Stats</h1>
    <div>
    <a href="https://github.com/konstantunovv">
      <img height="150em"
           src="https://github-readme-stats.vercel.app/api?username=konstantunovv&show_icons=true&theme=dark&include_all_commits=true&count_private=true">
      <img height="150em"
           src="https://github-readme-stats.vercel.app/api/top-langs/?username=konstantunovv&layout=compact&langs_count=7&theme=dark" alt="/">
    </a>
    </div>
  </div>
{% endblock %}
