{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
  <div style="text-align: center;">
    <h1>Technologies used in the project🚀</h1>
    <div style="text-align: center;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://www.djangoproject.com/" target="_blank"
             rel="noreferrer"> <img
              src="https://cdn.worldvectorlogo.com/logos/django.svg"
              alt="django" width="50" height="50"/> </a>
          <a
              href="https://www.python.org" target="_blank" rel="noreferrer">
            <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                alt="python" width="50" height="50"/> </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}